body {
  color: #00488d;
  font-family: 'Arimo', sans-serif;
  background-color: #e4f0fb;
}

img {
  width:100%;
}
#container{
  margin:auto;
}

#wrapper{
  width:90%;
  margin:auto;
}

#seven-day{
  width:90%;
  display:flex;
  justify-content: space-between;
  align-self:flex-start;
  /*border: 2px solid orchid;*/
}
.seven-day{
  display:inline-block;
  width:12%;
  border: 1px solid #ddd;
  min-height: 300px;
  align-self:flex-start;
  padding: 8px;
  background-color: white;
  margin-right:1px;

}
h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 3.5vmin;
  font-weight: lighter;
}
