/**********************************************
                General
**********************************************/

body {
  color: #00488d;
  font-family: 'Arimo', sans-serif;
  background-color: #e4f0fb;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

#container{
  margin:auto;
}

#wrapper{
  width:90%;
  margin:auto;
}

/**********************************************
                Form
**********************************************/
input {
  display: inline-block;
  padding:5px;
  /*border-radius:2%;*/
  /*font-size: 1.1em;*/
}

form {
  display: inline-block;
}
span {
  display: inline-block;
}
button {
  padding:5px;
  display: inline-block;
  float:right;
  font-family: 'Raleway', sans-serif;
  background-color: #00488d;
  border-radius:100%;
  border: none;
  box-shadow: 1px 1px 1px blue;
  margin-left:10px;
  color: white;
}




/**********************************************
               7 Day
**********************************************/

#seven-day{
  width:90%;
  display:flex;
  justify-content: space-between;
  align-self:flex-start;
  /*border: 2px solid orchid;*/
  min-width:70px;
}
.seven-day{
  display:inline-block;
  width:12%;
  border: 1px solid #ddd;
  height: 290px;
  align-self:flex-start;
  padding: 8px;
  background-color: white;
  margin-right:1px;
  overflow: auto;
}

#seven-day img {
  width:100%;
}
/*
.icon-7 {
  min-height: 102px;
}*/

#seven-day h3 {
  font-size: 3.5vmin;
  font-size:.8em;
  font-weight: lighter;
  text-align: center;
}

.temp h3 {
  font-weight: bold;
  font-size: 1em;
  color:orange;

}

/**********************************************
               Hourly
**********************************************/
.hourly {

}

#center {
  text-align: center;
}

#hourly {
  overflow: auto;
  width:90%;
  /*display:inline-block;*/
  /*margin: auto;*/
  /*margin-left: 100px;*/
}

#hourly img {
width: 90px;
display:inline-block;
margin-left: 100px;
}

#each-hour {
  display: block;
  flex-direction: row;
  align-items: center;
  /*border-bottom: 1px solid black;*/
  margin-top:auto;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100px;
  background-color:white;
}

#each-hour div{
  /*border: 1px solid green;*/
  display:inline-block;
}

.time{
  display: inline-block;
  align-self: center;
  text-align: center;
  padding: 20px;
}
.hourly div {
  border: 1px solid orange;
  /*display:flex;
  flex-direction: row;*/

}

.icon-24{
  display:inline-block;
  margin:5px;
  margin-top: 20px;
}

.hourly-data {
  min-width: 200px;
  margin:auto;
  text-align: center;

}

h4 {
  /*display:inline-block;*/
  font-size:0.8em;
}
